.tab-enter {
    opacity: 0;
}
.tab-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.tab-exit {
    opacity: 1;
}
.tab-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
}
