.calendar-input {
    .form-control {
        background: transparent url(/assets/icons/calendar.svg) 10px center no-repeat;
        padding: 8px 10px 8px 40px !important;
    }
}

.react-datepicker-wrapper {
    margin-bottom: 1rem;
}