.page-navbar {
    box-shadow: 0 0 10px #999;
    min-height: $navbar-min-height;

    .nav-link {
        color: $gray-9 !important;
    }

    .no-mobile {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.logo {
    cursor: pointer;
}
