.loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    &.app-loading {
        height: 100%;
    }

    &.page-loading {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    pointer-events: none;
}
